torch
tensorflow
spacy
# python -m spacy download en
pytorch-ignite
transformers
tensorboardX==1.8
pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
